<%= render 'shared/errors', model: @card %>

<div id='client-side-error'> </div>

<%= form_for @card do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :expiration_month %>
  <%= f.select :expiration_month, (1..12) %>
  <%= f.label :expiration_year %>
  <%= f.select :expiration_year, (2015..2029) %>
  <%= f.submit 'Create Card' %>
<% end %>

<div id='first' style='width:100px; height: 100px; background: red'>
  <div id='second' style='width:50px; height: 50px; background: blue'>
  </div>
</div>

<div id='green-square' style='width:100px; height: 100px; background: green'>
  <div id='green-square-timer' style='color:white; font-size:24px;'>0</div>
</div>
