<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id='loading'></div>

<% unless request.original_url.match(/expired/) %>
  <%= link_to "YAY AJAX" , ajax_link_path , remote: true, class: 'ajax-test' %>
<% end %>

<div class='foo'> One </div>
<div class='foo'> Two </div>
<div class='foo'> Three </div>
<div class='foo'> Four </div>


<br>
  <a href='#' id="turbo-test">Turbotest</a>
<br>

<%= render 'shared/flashes' %>

<%= link_to 'Logout', logout_path, method: :delete if current_user %>

<br><br>

<%= yield %>

</body>
</html>
